.tabla-container {
    text-align: left;
    margin: 20px auto;
    width: 100%;
}

.tabla-wrapper {
    overflow-x: auto; /* Activa scroll horizontal */
    max-width: 100%;
    white-space: nowrap;
}

.tabla-simulacion {
    width: 100%;
    border-collapse: collapse;
}

.tabla-simulacion th, .tabla-simulacion td {
    padding: 8px;
    border: 1px solid #ddd;
    text-align: center;
}

.tabla-simulacion th {
    background-color: #007BFF;
    color: white;
    font-weight: bold;
}

.tabla-simulacion .grupo {
    background-color: #333;
    color: white;
    font-size: 16px;
    text-align: center;
}
