table {
    background: white;
    width: 25%;
    margin-top: 2%;
    border-collapse: collapse;
    text-align: center;
  }
  
  th {
    background-color: #2caffe;
    height: 35px;
    border-bottom: 1px solid black;
    color: #000;
  }
  
  td {
    color: rgba(100, 100, 100, 60);
    height: 30px;
    border: 1px solid black;
  }
  
  tfoot {
    font-weight: bold;
  }
  
  /*Pseudo-clases*/
  th:hover {
    background-color: rgba(20, 20, 20, 90);
    color: rgba(100, 100, 100, 60);
  }
  
  tr:hover {
    background-color: rgba(15, 25, 25, 90);
  }
  
  
  a{
    text-decoration: none;
    color: white;
    font-size: 14pt;
  }
  
  footer {
    margin-top: 40px;
    text-align: center;
  }

.tabla-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 20px;
}

.tabla-frecuencias {
  border-collapse: collapse;
  width: 50%;
  text-align: center;
  border: 1px solid black;
}